<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MediaManager.ManagerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <MediaManager.ManagerSettings>
            <setting name="MusicFileExt" serializeAs="String">
                <value>*.wav,*.mp3,*.wma,*.ogg,*.midi,*.aif,*.aifc,*.aiff,*.au,*.ea</value>
            </setting>
            <setting name="VideoFileExt" serializeAs="String">
                <value>*.avi,*.flv,*.wmv,*.mov,*.mp4</value>
            </setting>
            <setting name="OtherFileExt" serializeAs="String">
                <value />
            </setting>
            <setting name="FileLocations" serializeAs="String">
                <value>C:\\Users\\Public\\Music</value>
            </setting>
            <setting name="OrderOfMusic" serializeAs="String">
                <value>TrackNumber,Title,Artist,Album</value>
            </setting>
            <setting name="OrderOfVideo" serializeAs="String">
                <value>Title,Director</value>
            </setting>
            <setting name="OrderOfOther" serializeAs="String">
                <value>Title,Path,Size</value>
            </setting>
        </MediaManager.ManagerSettings>
    </userSettings>
</configuration>